#foodimg {
    width: 300px;
    height: 200px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.recipebody {
    background-image: url('https://is.gd/jt1XHI');
}

.garfield {
    width: 200px;

}
h3 {
    margin-bottom: -100px;
}
.lasagnahref {
    color: purple;
    font-size: 22px;
}
.indexbody{
    background-image: url(Seoul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.indexhref {
    color: gold;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}